<div id="animation">
<div id="animation2">
</div>
</div>


<div class="score">
  Name: {{user.name}}<br>
  HP: {{user.hp}}<br>
  GP: {{user.gp}}
</div>

<p>{{room.description}}</p>

<div ng-show="room.choice === 'help'">
  <p>Use two word commands such as look direction, look item, go direction, take item, or dig item.. Type inventory to look at your inventory.</p>
</div>

<div ng-show="room.choice === 'inventory'">
  <div ng-show="user.inventory.length">
    <h5>Inventory</h5>
    <ul>
      <li ng-repeat="item in user.inventory">
        {{item}}
      </li>
    </ul>
  </div>
  <div ng-show="!user.inventory.length">
    <h5>You have nothing.</h5>
  </div>
</div>

<div ng-show="room.choice === 'fuck you'">
  <p>Such language!</p>
</div>


<span class="display-choice"></span>

<form ng-submit="choice()" class="form-inline" role="form">
  <div class="form-group">
    <input type="text" ng-model="userChoice" class="form-control" placeholder="What do you do?" autofocus required>
  </div>
  <button type="submit" class="btn btn-default btn-sm">Go!</button>
</form>
