<div id="animation">
<div id="animation2">
</div>
</div>


<div class="score">
  Name: {{user.name}}<br>
  HP: {{user.hp}}<br>
  GP: {{user.gp}}
</div>

<p>{{room.description}}</p>

<form ng-submit="choice()" class="form-inline" role="form">
  <div class="form-group">
    <label class="form-label">What do you do?</label>
    <input type="text" ng-model="userChoice" class="form-control" autofocus required>
  </div>
  <!-- <button type="submit" class="btn btn-default btn-sm">Go!</button> -->
</form>

<div ng-show="room.choice === 'look'">
  <p>Try looking at something specific.</p>
</div>

<div ng-show="room.choice === 'take item'">
  <p>There is no item known as item here.</p>
</div>

<div ng-show="room.choice === 'help'">
  <p>Use two word commands such as look direction, look item, go direction, take item, or verb item. Type inventory to look at your inventory.</p>
</div>

<div ng-show="room.choice === 'inventory'">
  <div ng-show="user.inventory.length">
    <h5>Inventory</h5>
    <ul>
      <li ng-repeat="item in user.inventory">
        {{item}}
      </li>
    </ul>
  </div>
  <div ng-show="!user.inventory.length">
    <h5>You have nothing.</h5>
  </div>
</div>

<div class="display-choice"></div>
<div class="display-item"></div>
<div class="display-gold"></div>
<div class="display-danger"></div>
